<% include layout/head %>

<a href="javascript:void((function(){var cbm=document.createElement('script');cbm.setAttribute('src','<%= bookmarkletUrl %>');cbm.setAttribute('type','text/javascript');document.getElementsByTagName('head')%5B0%5D.appendChild(cbm);})());">✚ Collect it</a>

<% include layout/foot %>
