<!DOCTYPE html>
<html>
  <head>
    <title>Collect | Bookmarklet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="javascript:void((function(){var cbm=document.createElement('script');cbm.setAttribute('src','<%= bookmarkletUrl %>');cbm.setAttribute('type','text/javascript');document.getElementsByTagName('head')%5B0%5D.appendChild(cbm);})());">Collect it</a>

  </body>
</html>
