<!DOCTYPE html>
<html>
  <head>
    <title>Collect | Save Item</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= item.title %></h1>
    <em>$<%= item.price %></em>

    <div>
      <img src='<%= item.image %>' />
    </div>

  </body>
</html>
