<!DOCTYPE html>
<html>
  <head>
    <title>Collect | Save Item</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action='/items' method='post'>

      <input type='text' name='title' value='<%= item.title %>' />
      $<input type='text' name='price' value='<%= item.price %>' />

      <div>
        <input type='hidden' name='image' value='<%= item.image %>' />
        <img src='<%= item.image %>' />
      </div>

      <input type='submit' value='Save Item' />

    </form>

  </body>
</html>
